{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content %}
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8">Reset Password</h2>

    <form class="max-w-lg border rounded-lg mx-auto" method='post' action=''>
      <div class="flex flex-col gap-4 p-4 md:p-8">
        {% csrf_token %}
        {{form|crispy}}
        <button type='submit' class="block bg-gray-800 hover:bg-gray-700 active:bg-gray-600 focus-visible:ring ring-gray-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">
          Reset password
        </button>
      </div>

      <div class="items-center bg-gray-100 p-4">
        <div>
          <p class="text-gray-500 text-sm text-center">Already have an account? <a href={% url 'login' %} class="text-indigo-500 hover:text-indigo-600 active:text-indigo-700 transition duration-100">Login</a></p>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
